<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    </head>
    <body bgcolor=#a3cfb4>

        <center>
        <img src="/static/images/logo2.jpg"width="150" height="150">
        <h1>Irish Flower Detection</h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Sepal_Length :  <input type="text", name='a', placeholder="Sepal_Length" required> <br><br>
            Sepal_Width :  <input type="text", name='b', placeholder="Sepal_Width" required> <br><br>
            Petal_Length :  <input type="text", name='c', placeholder="Petal_Length" required> <br><br>
            Petal_Width : <input type="text", name='d', placeholder="Petal_Width" required> <br><br><br></b>
            <input type="submit" class="btn btn-primary btn-block btn-large" >
        </form>
        
    </center>

    </body>
</html>